# Environment properties
# Example:

# Override the "VALTIMO_DOCUMENTEN_API_URL" to test the WOPI plugin.
# For WOPI the Documenten API needs to point at cg-dmf instead of OpenZaak.
VALTIMO_DOCUMENTEN_API_URL=http://cg-dmf.localhost:8083/documenten/api/v1/